# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build

# Turbo
.turbo

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Prisma generated
packages/database/node_modules

# Docker
docker-data/

# MinIO data
minio-data/
.github/workflows/
